This website is designed to allow users to easily browse through cards in Blizzard's <i>Hearthstone: Heroes of Warcraft</i>.
Users may navigate to the 'Insert Data', 'Update Data', and 'Delete Data' pages to insert, update, or remove, respectively,
cards in the database. You can easily filter out cards and sort by a variety of criteria. Please enjoy your stay here
at HearthCardsDB!!

Please note: This site is a student-created project to demonstrate his abilities and knowledge of Database Management System Design.

<p><u>Contact Information:</u><br>
Brian Caloz<br>
Phone: (888) 123-4567<br>
Email: will_not_receive@fake-email.net</p>