<!DOCTYPE HTML>
<html>
<head>
    <title>HearthCards DB</title>
</head>
<body>
<header>
    <h1>Welcome to the One-Stop-Shop for all of your Hearthstone Needs</h1>
    <h2><%= locals.settings.subtitle %></h2>
</header>
<div id="content">
