<% include header %>

            This website is still under construction. Stay tuned! Feel free to visit the ABOUT page below in the meantime...
            <ol>
                <li><a href="/simpleForm">Example 1</a> - HTML Form w/o Ajax or Database Interaction</li>
                <li><a href="/user/create">Example 2</a> - Modified version of Example 1 that saves user information to the database</li>
                <li><a href="/user/all">Example 3</a> - Displays all users in a table</li>
                 <li><a href="/user/dropdown">Example 4</a> - Displays all users in a drop down list</li>
            </ol>

<a href="/user/About/">ABOUT US</a>


<% var hideBackLink = true; %>
<% include footer %>